<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
	<html
	class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->

	<head>
		<meta charset="{{ site.charset }}"/>
		<meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="author" href="{{ site.theme.link }}/humans.txt"/>
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		{{function('wp_head')}}
	</head>
	<body style="background-image: url(wp-content/themes/ad360/images/dasdas123.jpg); background-attachment: fixed; background-position: center;
    background-size: 100% auto;">
	
		<header>

<div style="background-color:#000000 " class="paddingdol">
  <div class="container w-75">
    <div class="row text-light pt-3 pb-3 " style="display:flex">
			<div class="col-lg-4 col-md-12 p-0 srodekk text-center text-lg-start d-flex " >
				<img src="{{site.url}}/wp-content/themes/ad360/images/logo.png" width="135" >
				<h5 class="mt-auto mb-auto " style="padding-left:5px; font-size:12px; color:#7A7A7A;"> RS RENDERING SPECIALISTS LTD INSULATED AND COLOURED RENDER</h5>
			
			</div>
	    		
			<div class="col-lg col-md-4 paddinggora" style="text-align:center; margin-top:auto; margin-bottom:auto;">
				<a style="text-decoration:none;color:white" class="podlinki" href="tel:0161 509 2146">
				<i class="bi bi-telephone-fill " style="font-size:30px; margin-right:15px;"></i>
				<div class="d-inline-block " style="font-size:12px;">
				Call Us<br/>0161-509-2146
				</div>
				</a>
			</div>

			<div class="col-lg col-md-4 kreskinav paddinggora paddingdol" style="text-align:center; margin-top:auto; margin-bottom:auto;">
				<i class="bi bi-clock-fill  " style="font-size:30px; margin-right:15px;"></i>
				<div style="font-size:12px;" class="d-inline-block "><span >Opening times<br/>pn-pt 8:00-16:00</span></div>
			</div>
			
				<div class="col-lg col-md-4   p-0 pl-3  mt-auto mb-auto text-center text-lg-end  ">
				
						<button type="button" class="btn btn-lg malyprzycisk btn-secondary" style=" margin-top:auto;margin-bottom:auto" >
							<a href="http://localhost/niecukrzymy/#ask" style="text-decoration:none;color:white">Ask Us</a>
						</button>
				

				</div>


	
			</div>
    </div>
  </div>
</div>
				

			
		</header>

